#ensmallener {
}

input {
	font-size: 24pt;
	font-family: "Courier New", "Courier", "monospace";
}

.trunk_key {
	font-family: "Courier New", "Courier", "monospace";
	font-size: 12pt;
	margin-left: 10px;
	display: inline-block;
}

.trunk_url {
	font-family: "Courier New", "Courier", "monospace";
	font-size: 42pt;
	font-weight: bold;
	margin-left: 10px;
}

.trunky_message {
	font-size: 12pt;
	font-weight: bold;
	border: 1px solid black;
	background-color: lightblue;
	padding: 10px 10px 10px 10px;
}

.error {
	border: 1pt solid black;
	background-color: pink;
	color: black;
	font-weight: bold;
}