<div class="span-24 last">
  The license key
  
  <div class="trunk_key"><%= @key.license_key %></div>
  
  trunk8s to:

  <div class="trunk_url"><%= link_to "http://trunk8.net/#{@key.url}", "trunk8.net/#{@key.url}" %></div>

  <%= link_to 'trunk8 another license key?', '/' %>
</div>