<p>trunk8 is a shortening service for long, obnoxious software license keys. Instead of reading an enormous string over the phone to somebody,
  paste it into trunk8, which will turn it into a convenient little 8-character key. Then have the person go to trunk8.com/[that key], and you're
  in biz.</p>

<p>Keys expire out of our database in 7 days.</p>

<p>trunk8 is open source for your protection, and ribbed for her pleasure. You can download the source to <%= link_to 'trunk8 on github', 'http://github.com/riney/trunk8/tree/master' %>.</p>